*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  background: darkgray;
}

.random-game {
  background: burlywood;
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
}

.random-game-header {
  text-align: center;
}

.random-game-btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.random-game-body p {
  font-weight: 700;
}

.random-game-group {
  display: flex;
  margin-top: 20px;
}

.random-game-group input {
  border: none;
  padding: 0 10px;
}

.btn-default {
  margin: 20px 0px;
}

.success-btn {
  background: rgb(8, 139, 89);
  color: #fff;
}